{%block microfooter%}
<div class="container-fluid" style="background-color: rgb(215, 222, 215);">
    <div class="row p-2">
        <div class="col-md-4 text-center"><span style="font-size: 12px;"><b><i class="fa fa-at"></i> 2026 मंचर कृषी उत्पन्न बाजार
                    समिती, मंचर, सर्व हबक
                    राखीव.</span></b></div>
        <div class="col-md-4 text-center"><span style="font-size: 12px;"><b>गोपनीयता धोरण | वापर अटी | साईटमॅप</span></b></div>
        <div class="col-md-4 text-center"><span style="font-size: 12px;"><b>Designed & Developed by Ignyx Systems</span></b></div>
    </div>

</div>

{%endblock%}