{% extends '/templates/layout.html'%}


{% block content %}
{{include_style('/assets/apmc_classic_theme/css/gallery.css')}}
{{ include_script('/assets/apmc_classic_theme/js/gallery.js') }}

<div class="container">
    <div class="mt-5">
        <h2 class="text-center">फोटो गॅलरी</h2>
    </div>
    <div class="row g-5 mb-5">
        <div>
            <h4>Heading</h4>
        </div>

        <div class="row g-4 mb-5" id="gallery-container">
        </div>

        <nav>
            <ul class="pagination justify-content-center" id="pagination">
            </ul>
        </nav>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="galleryModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content custom-modal">

                <button type="button" class="btn-close top-0 end-0 m-3 position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>

                <div class="modal-body d-flex justify-content-around align-items-center">
                    <div>
                        <img id="modalImage" src="" class="img-fluid rounded" height="580" width="700">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{%endblock%}