{%extends "/templates/layout.html"%}


{% block content %}
{{include_style("/assets/apmc_classic_theme/css/officers_and_staff.css")}}
<div class="container py-5">

    <h2 class="text-center mb-5">अधिकारी व कर्मचारी</h2>

    <!-- Chairman & Vice Chairman -->
    <div class="row justify-content-center mb-4">
        {% for employee in top_members %}
        <div class="col-md-3 col-6 mb-4">
            <div class="director-card text-center py-5">
                <img src="{{ employee.upload_profile_picture }}" class="director-img" alt="">
                <h6 class="mt-3">{{ employee.name1 }}</h6>
                <p> {{ employee.designation }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    
    <div class="row justify-content-center mb-4">
        {% for employee in other_members %}
        <div class="col-md-3 col-6 mb-4">
            <div class="director-card text-center py-5">
                <img src="{{ employee.upload_profile_picture }}" class="director-img" alt="">
                <h6 class="mt-3">{{ employee.name1 }}</h6>
                <p> {{ employee.designation }}</p>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}